#sort-grid {
    grid-size: 2 4;
    grid-rows: 1 4 4 4;
    grid-columns: 1fr;
    height: 14;
    width: 40;
    padding: 0 1;
    border: thick $accent-lighten-1 80%;
    max-width: 50%;
    max-height: 50%;
}

#sort-select {
    column-span: 2;
}

#sort-reverse {
    column-span: 2;
}

.sort.text {
    margin: 0 1;
    column-span: 2;
}

.sort.checkbox {
    width: 1fr;
}

.sort.button {
    width: 1fr;
    margin: 0 1;
}