ModalScreen {
    align: center middle;
}

#tdm-grid {
    grid-size: 1 2;
    grid-rows: 1fr 3;
    grid-columns: 1fr;
    padding: 0 1;
    border: panel $accent-lighten-1 80%;
    background: $surface;
}

#tdm-title {
    width: 1fr;
    content-align: center middle;
}

#tdm-close {
    margin: 0 1;
    width: 1fr;
    content-align: center middle;
}

#tdm-content {
    padding: 0 1;
}
