ModalScreen {
    align: center middle;
}

#filter-grid {
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 80%;
    border: panel $accent-lighten-1 80%;
    content-align: center middle;
}

.filter.label {
    padding-left: 1;
    padding-top: 1;
    width: 1fr;
    height: 1fr;
    content-align: left top;
}

.filter.button {
    width: auto;
    height: auto;
    margin: 1 0 0 1;
}

#filter-spacer {
    column-span: 2;
}